<head>
    <title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }} | {{ site.title_description }}{% endif %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="{{site.email}}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <meta name="description" content="{{site.description}}" />
    <meta name="keywords" content="deniz çakar, deniz cakar, iş analisti, business analyst, business analysis, denizcakar, denizckr, yazılım mühendisi" />

    <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico">

    <!--CSS styles-->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/bootstrap.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/font-awesome.min.css">  
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/perfect-scrollbar-0.4.5.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css">
    <link id="theme-style" rel="stylesheet" href="{{site.baseurl}}/assets/css/styles/default.css">

    
    <!--/CSS styles-->
    <!--Javascript files-->
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/TweenMax.min.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/jquery.touchSwipe.min.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/jquery.carouFredSel-6.2.1-packed.js"></script>
    
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/modernizr.custom.63321.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/jquery.dropdownit.js"></script>

    <script type="text/javascript" src="{{site.baseurl}}/assets/js/jquery.stellar.min.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/ScrollToPlugin.min.js"></script>

    <script type="text/javascript" src="{{site.baseurl}}/assets/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="{{site.baseurl}}/assets/js/jquery.mixitup.min.js"></script>

    <script type="text/javascript" src="{{site.baseurl}}/assets/js/masonry.min.js"></script>

    <script type="text/javascript" src="{{site.baseurl}}/assets/js/perfect-scrollbar-0.4.5.with-mousewheel.min.js"></script>

    <script type="text/javascript" src="{{site.baseurl}}/assets/js/magnific-popup.js"></script>
    <script type="text/javascript" src="{{site.baseurl}}/assets/js/custom.js"></script>

    <!--/Javascript files-->

</head>
